# Web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Database
sqlalchemy==2.0.35

# Auth
python-jose[cryptography]==3.3.0
passlib[argon2]==1.7.4

# Validation & settings
pydantic==2.9.2
python-dotenv==1.0.1

# HTTP
requests==2.32.3
urllib3==2.2.3

# Music sources
yt-dlp

# ML — torch устанавливается отдельно в Dockerfile
numpy==1.26.4

# Celery + Redis
celery==5.4.0
redis==5.1.1

# Celery web UI
flower==2.0.1